doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    <h1>Restablecer contraseña</h1>

    div
        form(action='https://ismael.edufdezsoy.es:8090/login/newpassword',method='post')
            div(data-role='fieldcontain')
                label(for='password') Nueva contraseña
                input(id='password',type='password',value='',placeholder='',name='password', pattern='.{4,20}' required title='La contraseña debe tener entre 4 y 20 caracteres')
            div(data-role='fieldcontain')
                label(for='passwordConfirm') Confirmar contraseña
                input(id='passwordConfirm',type='password',value='',placeholder='',name='passwordConfirm',pattern='.{4,20}' required title='La contraseña debe tener entre 4 y 20 caracteres')
            div(data-role='fieldcontain')
                input(id='email',type='hidden',value=email,placeholder='',name='email')
            div(data-role='fieldcontain')
                input(type='submit',value='Restablecer',data-transition='fade', data-theme='c')

